name: "Create release"
run-name: Create release ${{ inputs.name }}

env:
  IMAGE_REPO: europe-docker.pkg.dev/kyma-project/prod/kyma-environment-broker
  KYMA_ENVIRONMENT_BROKER_REPO: ${{ github.repository_owner }}/kyma-environment-broker
  GIT_EMAIL: team-gopher+1@sap.com
  GIT_NAME: kyma-gopher-bot
  BUMP_CHART_AND_IMAGES: bump-chart-and-images-${{ inputs.name }}

permissions:
  contents: write
  id-token: write

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Create release'
        default: ""
        required: true
      skip-sec-file-and-chart-bump:
        type: boolean
        description: 'Do not bump sec file and chart'
        default: false
      dry-run:
        type: boolean
        description: 'Do not publish'
        default: false
  workflow_call:
    inputs:
      name:
        type: string
        description: 'Create release'
        default: ""
        required: true
      skip-sec-file-and-chart-bump:
        type: boolean
        description: 'Do not bump sec file and chart'
        default: false
      dry-run:
        type: boolean
        description: 'Do not publish'
        default: false

jobs:
  run-unit-tests:
    name: Unit tests, go mod tidy
    uses: "./.github/workflows/run-unit-tests-reusable.yaml"

  create-draft:
    name: Create draft release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Create lightweight tag
        run: |
          git tag ${{ inputs.name }}
          git push origin ${{ inputs.name }}

      - name: Create draft release
        id: create-draft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository_owner }}/kyma-environment-broker
        run: |
          gh release create ${{ inputs.name }} \
          --draft \
          --title "${{ inputs.name }}" \
          --generate-notes \
          --verify-tag
          
  publish-release:
    name: Publish release
    needs: [create-draft]
    if: ${{ !inputs.dry-run }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - run: |
          git checkout main
          git pull


      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }} # We do use bot token here to trigger workflow uploading logs
        run: |
          git checkout main
          gh release edit ${{ inputs.name }} --draft=false
